@import "../../styles/var";
.w {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 120px);
  overflow: hidden;
}

.w1 {
  flex: 1;
  color: white;
  position: sticky;
  top: 70px;
  height: calc(100vh - 120px);
  text-align: center;
  padding: 3rem;

  background-image: linear-gradient(
      to bottom right in oklab,
      color-mix(in oklab, indigo 85%, transparent),
      color-mix(in oklab, #007bff 85%, transparent)
    ),
    url("https://images.unsplash.com/photo-1700662716367-f6123531ea85?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHxidXMlMjB0aWNrZXQlMjBib29raW5nJTIwY29uZmlybWF0aW9ufGVufDF8fHx8MTc1ODM1OTUxNnww&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral");

  background-blend-mode: overlay; /* ya multiply, soft-light, jaisa chaho */
  background-position: center;
  background-size: cover;
}

.w1 h2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.w1 h3 {
  opacity: 0.9;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.w1 ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  list-style: none;
  padding: 0 70px;
}

.w1 ul li p {
  font-size: 0.875rem;
  text-align: center;
}

.w1 ul li h4 {
  font-size: 1.875rem;
  margin-bottom: 0.25rem;
  opacity: 0.9;
}

.w2 {
  flex: 1;
  overflow-y: scroll; // form scroll
  background-color: $primary-blue-soft;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100vh - 120px);
}
.w2::-webkit-scrollbar {
  max-width: 8px; 
  @media screen and (max-width: 768px) {
    max-width: 0px; 
  }
}
.w2 p {
  margin: 20px 0px;
  align-self: center;
  color: #6c757d;
}
.w2::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 8px;
}

.w2::-webkit-scrollbar-thumb {
  background-color: #4b0082;
  border-radius: 8px;
  border: 2px solid #e0e0e0; 
}

.w2::-webkit-scrollbar-thumb:hover {
  background-color: #6a0dad;
}
.w2 h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.w2 form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 400px;
}

.w2 label {
  font-weight: 600;
  font-size: $font-sm;
}

.w2 input,
.w2 select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  font-size: $font-sm;
}

.w2 input::placeholder {
  color: #6c757d;
}

.loginBtn {
  padding: 0.8rem;
  background-color: #4b0082;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.loginBtn:hover {
  background-color: #6a0dad;
}

.registerText {
  font-size: 0.9rem;
  color: #888;
  margin-top: 1rem;
  text-align: center;
}

.registerText a {
  color: #4b0082;
  font-weight: 500;
  text-decoration: none;
}

.registerText a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .w {
    flex-direction: column;
  }
  .w1 {
    display: none;
  }
  .w2 {
    width: 100%;
    border: 1px solid #e5e7eb;
    margin: 14px auto;
    border-radius: 10px;
    background: transparent;
    
  }
  .w2 form {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .w2 {
    padding: 1rem;
  }
  .w2 form {
    width: 100%;
  }
}
