$primary-color: #4b0082;
$primary-color-soft: #f7f2ff;
$secondary-color: #ffffff;
$secondary-color-grey: #f1eefb;
$primary-blue-soft: #e1ecfe;
$text-color-solid: #222;
$text-color-soft: #455;
$font-color: #000000;
$border_color: #ececec;
$input_field_bg: #f8f8fb;
$navbar-bg: $secondary-color;
$navbar-text: $primary-color;
$navbar-btn-bg: $primary-color;
$navbar-btn-text: $secondary-color;
$hero-gradient-start: #4b0082;
$hero-gradient-end: #1e90ff;
